/* Estilos del header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(120, 210, 106, 0.9);
  padding: 15px;
  border-radius: 0 0 15px 15px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

header h1 {
  margin: 10px;
  color: white;
  font-size: 24px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 10px 10px 10px 10px;
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  height: 100%;
}

nav li {
  display: inline;
  margin-right: 20px;
}

/* Enlaces del header */
nav a {
  text-decoration: none; 
  color: white;
  font-size: 16px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: none;
}

/* ------------------------------------------------------------------------------------------------------------------------ */

/* Estilos del contenedor de login */
:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url('/assets/home_bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-container {
  width: 100%;
  max-width: 600px;
  height: auto;
  padding: 40px;
  border: 1px solid #aacb8f;
  border-radius: 18px;
  background-color: #fff; 
  box-shadow: 0 2px 8px rgba(34, 165, 39, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch; 
  margin-top: 120px;
  margin-bottom: 120px;
}

/* Estilo de encabezado */
.login-container h2 {
  margin-bottom: 20px;
  color: #2c9a39;
  text-align: center; 
}

/* Estilo de los campos de formulario */
.form-group {
  margin-bottom: 25px;
}

label {
  display: block;
  margin-bottom: 15px;
  color: #29ce6b;
}

input {
  width: 100%;
  padding: 15px; 
  margin-bottom: 15px; 
  border: 1px solid #ccc;
  border-radius: 30px;
  box-sizing: border-box;
}

input:focus {
  outline: none;
  border-color: #29ce6b;
}

button {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  background-color: #95e36b;
  color: #fff;
  border: none;
  border-radius: 60px;
  cursor: pointer;
}

button:disabled {
  background-color: #cfdeca;
  cursor: not-allowed;
}

.register-link {
  text-align: center;
  margin-top: 15px;
}

.register-link a {
  color: #2c9a39;
  text-decoration: none;
}

register-link a:hover {
  text-decoration: underline;
}

small {
  color: red;
}

/*------------------------------------------------------------------*/

/* Estilos del footer */
footer {
  background-color: rgba(120, 210, 106, 0.9);
  padding: 15px;
  border-radius: 15px 15px 0 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  position: relative;
  margin-top: auto;
  width: 100%; 
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
}


footer p {
  margin: 0;
  color: white;
  font-size: 14px;
}

.footer-left, .footer-right {
  display: flex;
  flex-direction: column;
}

.footer-left {
  text-align: left;
  margin-left: 10%;
}

.footer-right {
  text-align: right;
  margin-right: 10%;
}
