<body>
    <header>
        <nav>
            <ul>
                <li><a href="/home" style="font-size: 25px;">Insectarium</a></li>
                <li><a href="/allshop">Tienda</a></li>
                <li><a href="/allguides">Guías</a></li>
                <li><a href="/contact">Contacto</a></li>          
                <li><a href="/profile">Mi perfil</a></li>
                <li><a href="/shoppingcart" >Carrito</a></li>
                <li><a href="/blog">Blog</a></li> 
              </ul>
        </nav>
      </header>
      
    <div class="content">
        <div class="category-section">
          <h2>Guías sobre Milpiés</h2>
      
          <div class="guide">
            <h1 (click)="toggleContent(1)">Guía 1: ¿Milpiés?</h1>
            <div class="guide-content" [class.open]="guide1.isOpen">
              <div class="guide-text" [innerHTML]="guide1.content"></div>
            </div>
          </div>
          
      
          <div class="guide">
            <h1 (click)="toggleContent(2)">Guía 2: Alimentación</h1>
            <div class="guide-content" [class.open]="guide2.isOpen">
              <div class="guide-text" [innerHTML]="guide2.content"></div>
            </div>
          </div>
          
      
          <div class="guide">
            <h1 (click)="toggleContent(3)">Guía 3: Espacio y Enclosure</h1>
            <div class="guide-content" [class.open]="guide3.isOpen">
              <div class="guide-text" [innerHTML]="guide3.content"></div>
            </div>
          </div>
        </div>
      </div>

      <section class="categorias-section">
        <h2><a href="shop/shopdiplopoda">Compra milpiés</a></h2>
        <div class="grid">
            <div class="grid-item">
                <p>Peridontopyge rubes. · 10.99€</p>
                <img src="/assets/diplopoda_peridontopygerubescens.png" alt="Peridontopyge rubescens">
                <div class="buttons">
                    <button class="add-to-cart">
                        <span class="icon cart-icon">🛒</span> Añadir a carrito <span class="icon arrow-icon">→</span>
                    </button>
                    <button class="add-to-favorites">Añadir a favoritos</button>
                </div>
            </div>
            <div class="grid-item">
                <p>Coromus vittattus · 13.99€</p>
                <img src="/assets/diplopoda_coromosvittatusvittatus.png" alt="Coromus vittattus vittatus">
                <div class="buttons">
                    <button class="add-to-cart">
                        <span class="icon cart-icon">🛒</span> Añadir a carrito <span class="icon arrow-icon">→</span>
                    </button>
                    <button class="add-to-favorites">Añadir a favoritos</button>
                </div>
            </div>
            <div class="grid-item">
                <p>Anadenobolus moni. · 13.99€</p>
                <img src="/assets/diplopoda_anadenobolusmonilicornis.png" alt="Anadenobolus moni">
                <div class="buttons">
                    <button class="add-to-cart">
                        <span class="icon cart-icon">🛒</span> Añadir a carrito <span class="icon arrow-icon">→</span>
                    </button>
                    <button class="add-to-favorites">Añadir a favoritos</button>
                </div>
            </div>
        </div>
      </section>
    
    
      <footer>
        <div class="footer-left">
            <p><strong>Insectarium</strong></p>
            <p>C/ Asunción, 14</p>
          <p>41011 Sevilla</p>
        </div>
        <div class="footer-right">
          <p>653 785 231</p>
          <p>insectarium"&#64;"gmail.com</p>
        </div>
      </footer>
</body>
