/* Estilos del header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(120, 210, 106, 0.9);
  padding: 15px;
  border-radius: 0 0 15px 15px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

header h1 {
  margin: 10px;
  color: white;
  font-size: 24px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 10px 10px 10px 10px;
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  height: 100%;
}

nav li {
  display: inline;
  margin-right: 20px;
}

/* Enlaces del header */
nav a {
  text-decoration: none; 
  color: white;
  font-size: 16px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: none;
}

/* ------------------------------------------------------------------------------------------------------------------------ */

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url('/assets/home_bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

/* Sección de FAQ */
.faq-section {
  width: 600px; 
  margin: 30px auto;
  text-align: left;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.596);
  border: 1px solid #aacb8f;
  border-radius: 18px;
  box-shadow: 0 2px 8px rgba(34, 165, 39, 0.1);
  align-self: flex-start;
}

.faq-section h2 {
  text-align: left;
  width: 100%;
  font-size: 160%;
  font-weight: bolder;
  color: #1f6c28;
  margin-bottom: 20px;
}

.faq-item {
  margin-bottom: 15px;
  font-size: 100%;
}

.faq-item h3 {
  margin-bottom: 5px;
  color: #333;
  font-size: 100%;
  font-weight: bold;
}

/* Sección de formulario */
.contact-form {
  width: 600px; 
  margin: 30px auto;
  text-align: left;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.596);
  border: 1px solid #aacb8f;
  border-radius: 18px;
  box-shadow: 0 2px 8px rgba(34, 165, 39, 0.1);
  align-self: flex-start;
}

.contact-form h2 {
  text-align: left;
  width: 100%;
  font-size: 160%;
  font-weight: bolder;
  color: #1f6c28;
  margin-bottom: 20px;
}

.contact-form label {
  display: block;
  font-size: 100%;
  margin-bottom: 5px;
  color: #333;
}

.contact-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 100%;
  border: 1px solid #aacb8f;
  border-radius: 10px;
}

.contact-form button {
  padding: 10px 20px;
  background-color: #7cd26a;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.contact-form button:hover { 
  background-color: #6bb859;
}

/* Estilos del footer */
footer {
  background-color: rgba(120, 210, 106, 0.9);
  padding: 15px;
  border-radius: 15px 15px 0 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  position: relative;
  margin-top: auto;
  width: 100%; 
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
}

footer p {
  margin: 0;
  color: white;
  font-size: 14px;
}

.footer-left, .footer-right {
  display: flex;
  flex-direction: column;
}

.footer-left {
  text-align: left;
  margin-left: 10%;
}

.footer-right {
  text-align: right;
  margin-right: 10%;
}
