
<body> 
    <header>
      <nav>
        <ul>
          <li><a href="/home" style="font-size: 150%;">Insectarium</a></li>
          <li><a href="/allshop">Tienda</a></li>
          <li><a href="/allguides">Guías</a></li>
          <li><a href="/contact">Contacto</a></li>
          <li><a href="/profile">Mi perfil</a></li>
          <li><a href="/shoppingcart">Carrito</a></li>
          <li><a href="/favorites" style="font-size: 20px;">&#x2661;</a></li> <!--favoritos-->
        </ul>
      </nav>
    </header>

<main class="content">
    <section class="categorias-section">
        <h2>Milpiés (diplopoda)</h2>
        <div class="grid">
            <div class="grid-item">
                <p>Peridontopyge rubes. · 10.99€</p>
                <img src="/assets/diplopoda_peridontopygerubescens.png" alt="Peridontopyge rubescens">
                <div class="buttons">
                    <button class="add-to-cart">
                        <span class="icon cart-icon">🛒</span> Añadir a carrito <span class="icon arrow-icon">→</span>
                    </button>
                    <button class="add-to-favorites">Añadir a favoritos</button>
                </div>
            </div>
            <div class="grid-item">
                <p>Coromus vittattus · 13.99€</p>
                <img src="/assets/diplopoda_coromosvittatusvittatus.png" alt="Coromus vittattus vittatus">
                <div class="buttons">
                    <button class="add-to-cart">
                        <span class="icon cart-icon">🛒</span> Añadir a carrito <span class="icon arrow-icon">→</span>
                    </button>
                    <button class="add-to-favorites">Añadir a favoritos</button>
                </div>
            </div>
            <div class="grid-item">
                <p>Anadenobolus moni. · 13.99€</p>
                <img src="/assets/diplopoda_anadenobolusmonilicornis.png" alt="Anadenobolus moni">
                <div class="buttons">
                    <button class="add-to-cart">
                        <span class="icon cart-icon">🛒</span> Añadir a carrito <span class="icon arrow-icon">→</span>
                    </button>
                    <button class="add-to-favorites">Añadir a favoritos</button>
                </div>
            </div>
            <div class="grid-item">
                <p>Desmoxytes planata · 20.99€</p>
                <img src="/assets/diplopoda_desmoxytesplanata.jpg" alt="Desmoxytes planata">
                <div class="buttons">
                    <button class="add-to-cart">
                        <span class="icon cart-icon">🛒</span> Añadir a carrito <span class="icon arrow-icon">→</span>
                    </button>
                    <button class="add-to-favorites">Añadir a favoritos</button>
                </div>
            </div>
            <div class="grid-item">
                <p>Pachyiulus krivol. · 19.99€</p>
                <img src="/assets/diplopoda_pachyiuluskrivolutskyi.jpg" alt="Pachyiulus krivolutskyi">
                <div class="buttons">
                    <button class="add-to-cart">
                        <span class="icon cart-icon">🛒</span> Añadir a carrito <span class="icon arrow-icon">→</span>
                    </button>
                    <button class="add-to-favorites">Añadir a favoritos</button>
                </div>
            </div>
            <div class="grid-item">
                <p>Gosodesmus claremontus · 24.99€</p>
                <img src="/assets/diplopoda_gosodesmusclaremontus.jpg" alt="Gosodesmus claremontus">
                <div class="buttons">
                    <button class="add-to-cart">
                        <span class="icon cart-icon">🛒</span> Añadir a carrito <span class="icon arrow-icon">→</span>
                    </button>
                    <button class="add-to-favorites">Añadir a favoritos</button>
                </div>
            </div>
            <div class="grid-item">
                <p>Chicobolus spinigerus · 6.99€</p>
                <img src="/assets/diplopoda_chicobolusspinigerus.jpg" alt="Chicobolus spinigerus">
                <div class="buttons">
                    <button class="add-to-cart">
                        <span class="icon cart-icon">🛒</span> Añadir a carrito <span class="icon arrow-icon">→</span>
                    </button>
                    <button class="add-to-favorites">Añadir a favoritos</button>
                </div>
            </div>
            <div class="grid-item">
                <p>Pelmatojulus excisus · 25.99€</p>
                <img src="/assets/diplopoda_pelmatojulusexcisus.jpg" alt="Pelmatojulus excisus">
                <div class="buttons">
                    <button class="add-to-cart">
                        <span class="icon cart-icon">🛒</span> Añadir a carrito <span class="icon arrow-icon">→</span>
                    </button>
                    <button class="add-to-favorites">Añadir a favoritos</button>
                </div>
            </div>
            <div class="grid-item">
                <p>Spirobolus caudulanus · 14.99€</p>
                <img src="/assets/diplopoda_spiroboluscaudulanus.jpg" alt="Spirobolus caudulanus">
                <div class="buttons">
                    <button class="add-to-cart">
                        <span class="icon cart-icon">🛒</span> Añadir a carrito <span class="icon arrow-icon">→</span>
                    </button>
                    <button class="add-to-favorites">Añadir a favoritos</button>
                </div>
            </div>
        </div>
    </section>

    <!-- Sección de guías -->
    <div class="guias-section">
        <h2>Guías destacadas</h2>
        <button class="faq-item">
          <h3>Guía 1: Cuidado de Milpiés</h3>
          <p>Aprende todo lo que necesitas saber sobre el cuidado adecuado de tus milpiés. ¡Mantén a tu mascota feliz y saludable!</p>
        </button>
        <button class="faq-item">
          <h3>Guía 2: Alimentación</h3>
          <p>Descubre las mejores opciones de alimentación para diferentes especies de milpiés y cómo alimentarlos correctamente.</p>
        </button>
        <button class="faq-item">
          <h3>Guía 3: Espacio y Enclosure</h3>
          <p>Cómo crear el entorno perfecto para tus milpiés, incluyendo el tamaño y tipo de enclosure ideal para cada especie.</p>
        </button>
    </div>
  
    <!-- Sección de productos -->
    <section class="categorias-section">
        <div class="category-section">
          <h2>Suministros para hábitats y alimentación</h2>
          <div class="grid">
            <!-- Producto 1 -->
            <div class="grid-item">
                <p>Hábitat · 15.99€</p>
                <img src="/assets/enclosure1.png" alt="Hábitat">
                <div class="buttons">
                    <button class="add-to-cart">
                        <span class="cart-icon">🛒</span> Añadir a carrito <span class="arrow-icon">→</span>
                    </button>
                    <button class="add-to-favorites">Añadir a favoritos</button>
                </div>
            </div>
  
            <!-- Producto 2 -->
            <div class="grid-item">
                <p>Escondite de tubos · 15.99€</p>
                <img src="/assets/z_hideout2.png" alt="Escondite de tubos">
                <div class="buttons">
                    <button class="add-to-cart">
                        <span class="cart-icon">🛒</span> Añadir a carrito <span class="arrow-icon">→</span>
                    </button>
                    <button class="add-to-favorites">Añadir a favoritos</button>
                </div>
            </div>
  
            <!-- Producto 3 -->
            <div class="grid-item">
                <p>Escondite de corcho · 4.99€</p>
                <img src="/assets/z_hideout1.png" alt="Grillos vivos">
                <div class="buttons">
                    <button class="add-to-cart">
                        <span class="cart-icon">🛒</span> Añadir a carrito <span class="arrow-icon">→</span>
                    </button>
                    <button class="add-to-favorites">Añadir a favoritos</button>
                </div>
            </div>
          </div>
        </div>
    </section>
</main>

<footer>
    <div class="footer-left">
        <p><strong>Insectarium</strong></p>
        <p>C/ Asunción, 14</p>
        <p>41011 Sevilla</p>
    </div>
    <div class="footer-right">
        <p>653 785 231</p>
        <p>insectarium"&#64;"gmail.com</p>
    </div>
</footer>

</body>