<body> 
    <header>
      <nav>
        <ul>
          <li><a href="/home" style="font-size: 150%;">Insectarium</a></li>
          <li><a href="/allshop">Tienda</a></li>
          <li><a href="/allguides">Guías</a></li>
          <li><a href="/contact">Contacto</a></li>
          <li><a href="/profile">Mi perfil</a></li>
          <li><a href="/shoppingcart">Carrito</a></li>
          <li><a href="/favorites" style="font-size: 20px;">&#x2661;</a></li> <!--favoritos-->
        </ul>
      </nav>
    </header>
  
    <main class="content">
      <!-- Sección de mantis -->
      <section class="categorias-section">
        <h2>Mantis (mantodea)</h2>
        <div class="grid">
          <div class="grid-item">
            <p>Mantis Hoja Muerta · 12.99€</p>
            <img src="/assets/mantodea_mantishojamuerta.jpg" alt="Mantis Hoja Muerta">
            <div class="buttons">
              <button class="add-to-cart">
                <span class="icon cart-icon">🛒</span> Añadir a carrito <span class="icon arrow-icon">→</span>
              </button>
              <button class="add-to-favorites">Añadir a favoritos</button>
            </div>
          </div>
          <div class="grid-item">
            <p>Mantis Orquídea · 15.99€</p>
            <img src="/assets/mantodea_orchidmantis.jpg" alt="Mantis Orquídea">
            <div class="buttons">
              <button class="add-to-cart">
                <span class="icon cart-icon">🛒</span> Añadir a carrito <span class="icon arrow-icon">→</span>
              </button>
              <button class="add-to-favorites">Añadir a favoritos</button>
            </div>
          </div>
          <div class="grid-item">
            <p>Mantis Flor India · 17.99€</p>
            <img src="/assets/mantodea_indianflowermantis.jpg" alt="Mantis Flor India">
            <div class="buttons">
              <button class="add-to-cart">
                <span class="icon cart-icon">🛒</span> Añadir a carrito <span class="icon arrow-icon">→</span>
              </button>
              <button class="add-to-favorites">Añadir a favoritos</button>
            </div>
          </div>
          <div class="grid-item">
            <p>Mantis Flor Espinosa · 17.99€</p>
            <img src="/assets/mantodea_spinyflower.jpeg" alt="Mantis Flor Espinosa">
            <div class="buttons">
              <button class="add-to-cart">
                <span class="icon cart-icon">🛒</span> Añadir a carrito <span class="icon arrow-icon">→</span>
              </button>
              <button class="add-to-favorites">Añadir a favoritos</button>
            </div>
          </div>
          <div class="grid-item">
            <p>Mantis Palo · 12.99€</p>
            <img src="/assets/mantodea_empusapennata.jpg" alt="Mantis Palo">
            <div class="buttons">
              <button class="add-to-cart">
                <span class="icon cart-icon">🛒</span> Añadir a carrito <span class="icon arrow-icon">→</span>
              </button>
              <button class="add-to-favorites">Añadir a favoritos</button>
            </div>
          </div>
          <div class="grid-item">
            <p>Asiática Gigante · 19.99€</p>
            <img src="/assets/mantodea_asiaticagigante.png" alt="Asiática Gigante">
            <div class="buttons">
              <button class="add-to-cart">
                <span class="icon cart-icon">🛒</span> Añadir a carrito <span class="icon arrow-icon">→</span>
              </button>
              <button class="add-to-favorites">Añadir a favoritos</button>
            </div>
          </div>
          <div class="grid-item">
            <p>Mantis Gato · 19.99€</p>
            <img src="/assets/mantodea_mantisgato.jpeg" alt="Mantis Gato">
            <div class="buttons">
              <button class="add-to-cart">
                <span class="icon cart-icon">🛒</span> Añadir a carrito <span class="icon arrow-icon">→</span>
              </button>
              <button class="add-to-favorites">Añadir a favoritos</button>
            </div>
          </div>
          <div class="grid-item">
            <p>Mantis Europea · 9.99€</p>
            <img src="/assets/mantodea_mantiseuroropea.jpg" alt="Mantis Europea">
            <div class="buttons">
              <button class="add-to-cart">
                <span class="icon cart-icon">🛒</span> Añadir a carrito <span class="icon arrow-icon">→</span>
              </button>
              <button class="add-to-favorites">Añadir a favoritos</button>
            </div>
          </div>
          <div class="grid-item">
            <p>Mantis Escudo · 19.99€</p>
            <img src="/assets/mantodea_mantisescudo.jpg" alt="Mantis Escudo">
            <div class="buttons">
              <button class="add-to-cart">
                <span class="icon cart-icon">🛒</span> Añadir a carrito <span class="icon arrow-icon">→</span>
              </button>
              <button class="add-to-favorites">Añadir a favoritos</button>
            </div>
          </div>
        </div>
      </section>

       <!-- Sección de guías -->
    <div class="guias-section">
        <h2>Guías destacadas</h2>
        <button class="faq-item">
          <h3>Guía 1: Cuidado de Mantis</h3>
          <p>Aprende todo lo que necesitas saber sobre el cuidado adecuado de tus mantis. ¡Mantén a tu mascota feliz y saludable!</p>
        </button>
        <button class="faq-item">
          <h3>Guía 2: Alimentación</h3>
          <p>Descubre las mejores opciones de alimentación para diferentes especies de mantis y cómo alimentarlas correctamente.</p>
        </button>
        <button class="faq-item">
          <h3>Guía 3: Espacio y Enclosure</h3>
          <p>Cómo crear el entorno perfecto para tus mantis, incluyendo el tamaño y tipo de enclosure ideal para cada especie.</p>
        </button>
      </div>
  
      <!-- Sección de productos -->
      <section class="categorias-section">
        <div class="category-section">
          <h2>Suministros para hábitats y alimentación</h2>
          <div class="grid">
            <!-- Producto 1 -->
            <div class="grid-item">
                <p>Hábitat · 19.99€</p>
                <img src="/assets/enclosure2.jpg" alt="Hábitat">
              <div class="buttons">
                <button class="add-to-cart">
                  <span class="cart-icon">🛒</span> Añadir a carrito <span class="arrow-icon">→</span>
                </button>
                <button class="add-to-favorites">Añadir a favoritos</button>
              </div>
            </div>
  
            <!-- Producto 2 -->
            <div class="grid-item">
                <p>Escondite de corcho · 4.99€</p>
                <img src="/assets/z_hideout1.png" alt="Escondite">
              <div class="buttons">
                <button class="add-to-cart">
                  <span class="cart-icon">🛒</span> Añadir a carrito <span class="arrow-icon">→</span>
                </button>
                <button class="add-to-favorites">Añadir a favoritos</button>
              </div>
            </div>
  
            <!-- Producto 3 -->
            <div class="grid-item">
                <p>Larvas moscas (200g) · 2.99€</p>
                <img src="/assets/carnivore_food.jpeg" alt="Larvas moscas">
              <div class="buttons">
                <button class="add-to-cart">
                  <span class="cart-icon">🛒</span> Añadir a carrito <span class="arrow-icon">→</span>
                </button>
                <button class="add-to-favorites">Añadir a favoritos</button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <div class="footer-left">
          <p><strong>Insectarium</strong></p>
          <p>C/ Asunción, 14</p>
        <p>41011 Sevilla</p>
      </div>
      <div class="footer-right">
        <p>653 785 231</p>
        <p>insectarium"&#64;"gmail.com</p>
      </div>
    </footer>

  </body>
  