
<body> 
    <header>
      <nav>
        <ul>
          <li><a href="/home" style="font-size: 150%;">Insectarium</a></li>
          <li><a href="/allshop">Tienda</a></li>
          <li><a href="/allguides">Guías</a></li>
          <li><a href="/contact">Contacto</a></li>
          <li><a href="/profile">Mi perfil</a></li>
          <li><a href="/shoppingcart">Carrito</a></li>
          <li><a href="/blog">Blog</a></li> 
        </ul>
      </nav>
    </header>

<main class="content">
    <!-- Sección de fasmidos -->
    <section class="categorias-section">
        <h2>Fásmidos (phasmatodea)</h2>
        <div class="grid">
            <div class="grid-item">
                <p>Bicho Palo Vietnamita · 9.99€</p>
                <img src="/assets/phasm_palovietnamita.jpg" alt="Bicho Palo Vietnamita">
                <div class="buttons">
                    <button class="add-to-cart">
                        <span class="icon cart-icon">🛒</span> Añadir a carrito <span class="icon arrow-icon">→</span>
                    </button>
                    <button class="add-to-favorites">Añadir a favoritos</button>
                </div>
            </div>
            <div class="grid-item">
                <p>Bicho Palo Terciopelo · 11.99€</p>
                <img src="/assets/phasm_blackvelvet.jpg" alt="Terciopelo">
                <div class="buttons">
                    <button class="add-to-cart">
                        <span class="icon cart-icon">🛒</span> Añadir a carrito <span class="icon arrow-icon">→</span>
                    </button>
                    <button class="add-to-favorites">Añadir a favoritos</button>
                </div>
            </div>
            <div class="grid-item">
                <p>Bicho Palo Soleado · 11.99€</p>
                <img src="/assets/phasm_sunnystick.jpg" alt="Megasoma elephas">
                <div class="buttons">
                    <button class="add-to-cart">
                        <span class="icon cart-icon">🛒</span> Añadir a carrito <span class="icon arrow-icon">→</span>
                    </button>
                    <button class="add-to-favorites">Añadir a favoritos</button>
                </div>
            </div>
            <div class="grid-item">
                <p>Bicho Palo Budwing · 15.99€</p>
                <img src="/assets/phasm_budwingstick.jpg" alt="Bicho Palo Budwing">
                <div class="buttons">
                    <button class="add-to-cart">
                        <span class="icon cart-icon">🛒</span> Añadir a carrito <span class="icon arrow-icon">→</span>
                    </button>
                    <button class="add-to-favorites">Añadir a favoritos</button>
                </div>
            </div>
            <div class="grid-item">
                <p>Bicho Palo Lima · 15.99€</p>
                <img src="/assets/phasm_giantlime.jpg" alt="Bicho Palo Lima">
                <div class="buttons">
                    <button class="add-to-cart">
                        <span class="icon cart-icon">🛒</span> Añadir a carrito <span class="icon arrow-icon">→</span>
                    </button>
                    <button class="add-to-favorites">Añadir a favoritos</button>
                </div>
            </div>
            <div class="grid-item">
                <p>Bicho Palo Espinoso · 15.99€</p>
                <img src="/assets/phasm_spiky.jpg" alt="Bicho Palo Espinoso">
                <div class="buttons">
                    <button class="add-to-cart">
                        <span class="icon cart-icon">🛒</span> Añadir a carrito <span class="icon arrow-icon">→</span>
                    </button>
                    <button class="add-to-favorites">Añadir a favoritos</button>
                </div>
            </div>
            <div class="grid-item">
                <p>Bicho Palo Caballo · 15.99€</p>
                <img src="/assets/phasm_horseface.jpg" alt="Bicho Palo Caballo">
                <div class="buttons">
                    <button class="add-to-cart">
                        <span class="icon cart-icon">🛒</span> Añadir a carrito <span class="icon arrow-icon">→</span>
                    </button>
                    <button class="add-to-favorites">Añadir a favoritos</button>
                </div>
            </div>
            <div class="grid-item">
                <p>Bicho Hoja Espinosa · 14.99€</p>
                <img src="/assets/phasm_hojaarrugada.jpg" alt="Bicho Hoja Espinosa">
                <div class="buttons">
                    <button class="add-to-cart">
                        <span class="icon cart-icon">🛒</span> Añadir a carrito <span class="icon arrow-icon">→</span>
                    </button>
                    <button class="add-to-favorites">Añadir a favoritos</button>
                </div>
            </div>
            <div class="grid-item">
                <p>Bicho Hoja Otoñal · 14.99€</p>
                <img src="/assets/phasm_hojaotono.jpg" alt="Bicho Hoja otoño">
                <div class="buttons">
                    <button class="add-to-cart">
                        <span class="icon cart-icon">🛒</span> Añadir a carrito <span class="icon arrow-icon">→</span>
                    </button>
                    <button class="add-to-favorites">Añadir a favoritos</button>
                </div>
            </div>
        </div>
    </section>

    <!-- Sección de guías -->
    <div class="guias-section">
      <h2>Guías destacadas</h2>
      <!-- Enlace a la guía 1 -->
      <a href="/guides/guidesphasmatodea?guide=1" class="category-link">
          <button class="faq-item">
              <h3>Guía 1: ¿Fásmidos?</h3>
              <p>Aprende todo lo que necesitas saber sobre el cuidado adecuado de tus fásmidos. ¡Mantén a tus mascotas felices y saludables!</p>
          </button>
      </a>
      <!-- Enlace a la guía 2 -->
      <a href="/guides/guidesphasmatodea?guide=2" class="category-link">
          <button class="faq-item">
              <h3>Guía 2: Alimentación</h3>
              <p>Descubre las mejores opciones de alimentación para diferentes especies de fásmidos.</p>
          </button>
      </a>
      <!-- Enlace a la guía 3 -->
      <a href="/guides/guidesphasmatodea?guide=3" class="category-link">
          <button class="faq-item">
              <h3>Guía 3: Espacio y Enclosure</h3>
              <p>Cómo crear el entorno perfecto para tus fásmidos, incluyendo el tamaño y tipo de enclosure ideal para cada especie.</p>
          </button>
      </a>
    </div>

  
      <!-- Sección de productos -->
      <section class="categorias-section">
        <div class="category-section">
          <h2>Suministros para hábitats y alimentación</h2>
          <div class="grid">
            <!-- Producto 1 -->
            <div class="grid-item">
                <p>Hábitat · 15.99€</p>
                <img src="/assets/enclosure1.png" alt="Hábitat">
              <div class="buttons">
                <button class="add-to-cart">
                  <span class="cart-icon">🛒</span> Añadir a carrito <span class="arrow-icon">→</span>
                </button>
                <button class="add-to-favorites">Añadir a favoritos</button>
              </div>
            </div>
  
            <!-- Producto 2 -->
            <div class="grid-item">
                <p>Escondite de tubos · 15.99€</p>
                <img src="/assets/z_hideout2.png" alt="Escondite de tubos">
              <div class="buttons">
                <button class="add-to-cart">
                  <span class="cart-icon">🛒</span> Añadir a carrito <span class="arrow-icon">→</span>
                </button>
                <button class="add-to-favorites">Añadir a favoritos</button>
              </div>
            </div>
  
            <!-- Producto 3 -->
            <div class="grid-item">
                <p>Escondite de corcho · 4.99€</p>
                <img src="/assets/z_hideout1.png" alt="Grillos vivos">
              <div class="buttons">
                <button class="add-to-cart">
                  <span class="cart-icon">🛒</span> Añadir a carrito <span class="arrow-icon">→</span>
                </button>
                <button class="add-to-favorites">Añadir a favoritos</button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

<footer>
    <div class="footer-left">
        <p><strong>Insectarium</strong></p>
        <p>C/ Asunción, 14</p>
      <p>41011 Sevilla</p>
    </div>
    <div class="footer-right">
      <p>653 785 231</p>
      <p>insectarium"&#64;"gmail.com</p>
    </div>
  </footer>

  </body>