
<body> 
    <header>
      <nav>
        <ul>
          <li><a href="/home" style="font-size: 150%;">Insectarium</a></li>
          <li><a href="/allshop">Tienda</a></li>
          <li><a href="/allguides">Guías</a></li>
          <li><a href="/contact">Contacto</a></li>
          <li><a href="/profile">Mi perfil</a></li>
          <li><a href="/shoppingcart">Carrito</a></li>
          <li><a href="/blog">Blog</a></li> 
        </ul>
      </nav>
    </header>

<main class="content">
    <section class="categorias-section">
        <h2>Lepidópteros (lepidoptera)</h2>
        <div class="grid">
            <div class="grid-item">
                <p>Rosada del Arce (3) · 12.99€</p>
                <img src="/assets/lepidoptera_rosymaplemoth.jpg" alt="Rosy Maple Moth">
                <div class="buttons">
                    <button class="add-to-cart">
                        <span class="icon cart-icon">🛒</span> Añadir a carrito <span class="icon arrow-icon">→</span>
                    </button>
                    <button class="add-to-favorites">Añadir a favoritos</button>
                </div>
            </div>
            <div class="grid-item">
                <p>Polilla de la seda (9) · 3.99€ </p>
                <img src="/assets/lepidoptera_polilladeseda.jpg" alt="Polilla de la seda">
                <div class="buttons">
                    <button class="add-to-cart">
                        <span class="icon cart-icon">🛒</span> Añadir a carrito <span class="icon arrow-icon">→</span>
                    </button>
                    <button class="add-to-favorites">Añadir a favoritos</button>
                </div>
            </div>
            <div class="grid-item">
                <p>Esfinge Calavera (5) · 18.99€</p>
                <img src="/assets/lepidoptera_esfingecalavera.jpg" alt="Esfinge Calavera">
                <div class="buttons">
                    <button class="add-to-cart">
                        <span class="icon cart-icon">🛒</span> Añadir a carrito <span class="icon arrow-icon">→</span>
                    </button>
                    <button class="add-to-favorites">Añadir a favoritos</button>
                </div>
            </div>
            <div class="grid-item">
                <p>Alas de pájaro (3) · 17.99€</p>
                <img src="/assets/lepidoptera_ornithopteraalexandrae.jpg" alt="Alas de pájaro">
                <div class="buttons">
                    <button class="add-to-cart">
                        <span class="icon cart-icon">🛒</span> Añadir a carrito <span class="icon arrow-icon">→</span>
                    </button>
                    <button class="add-to-favorites">Añadir a favoritos</button>
                </div>
            </div>
            <div class="grid-item">
                <p>Papilio Bianor (3) · 14.99€</p>
                <img src="/assets/lepidoptera_papiliobianor.jpg" alt="Dalmatian">
                <div class="buttons">
                    <button class="add-to-cart">
                        <span class="icon cart-icon">🛒</span> Añadir a carrito <span class="icon arrow-icon">→</span>
                    </button>
                    <button class="add-to-favorites">Añadir a favoritos</button>
                </div>
            </div>
            <div class="grid-item">
                <p>Alas Brooke (3) · 17.99€</p>
                <img src="/assets/lepidoptera_brooke.jpg" alt="Alas Brooke">
                <div class="buttons">
                    <button class="add-to-cart">
                        <span class="icon cart-icon">🛒</span> Añadir a carrito <span class="icon arrow-icon">→</span>
                    </button>
                    <button class="add-to-favorites">Añadir a favoritos</button>
                </div>
            </div>
            <div class="grid-item">
                <p>Triángulo azul (3) · 14.99€</p>
                <img src="/assets/lepidoptera_trianguloazul.JPG" alt="Triángulo azul">
                <div class="buttons">
                    <button class="add-to-cart">
                        <span class="icon cart-icon">🛒</span> Añadir a carrito <span class="icon arrow-icon">→</span>
                    </button>
                    <button class="add-to-favorites">Añadir a favoritos</button>
                </div>
            </div>
            <div class="grid-item">
                <p>Tigre de tres colas (3) · 14.99€</p>
                <img src="/assets/lepidoptera_tigre3colas.jpg" alt="Tigre de tres colas">
                <div class="buttons">
                    <button class="add-to-cart">
                        <span class="icon cart-icon">🛒</span> Añadir a carrito <span class="icon arrow-icon">→</span>
                    </button>
                    <button class="add-to-favorites">Añadir a favoritos</button>
                </div>
            </div>
            <div class="grid-item">
                <p>Cometa de papel (3) · 14.99€</p>
                <img src="/assets/lepidoptera_cometadepapel.jpg" alt="Cometa de papel">
                <div class="buttons">
                    <button class="add-to-cart">
                        <span class="icon cart-icon">🛒</span> Añadir a carrito <span class="icon arrow-icon">→</span>
                    </button>
                    <button class="add-to-favorites">Añadir a favoritos</button>
                </div>
            </div>
        </div>
    </section>

<!-- Sección de guías -->
<div class="guias-section">
    <h2>Guías destacadas</h2>
    <!-- Enlace a la guía 1 -->
    <a href="/guides/guideslepidoptera?guide=1" class="category-link">
        <button class="faq-item">
            <h3>Guía 1: Mariposas 101</h3>
            <p>Todo lo que necesitas saber de las mariposas diurnas, desde alimentación hasta el entorno.</p>
        </button>
    </a>
    <!-- Enlace a la guía 2 -->
    <a href="/guides/guideslepidoptera?guide=2" class="category-link">
        <button class="faq-item">
            <h3>Guía 2: Polillas 101</h3>
            <p>Todo lo que necesitas saber de las mariposas nocturnas, desde alimentación hasta el entorno.</p>
        </button>
    </a>
</div>

  
    <!-- Sección de productos -->
    <section class="categorias-section">
        <div class="category-section">
          <h2>Suministros para hábitats y alimentación</h2>
          <div class="grid">
            <!-- Producto 1 -->
            <div class="grid-item">
                <p>Hábitat · 15.99€</p>
                <img src="/assets/enclosure1.png" alt="Hábitat">
                <div class="buttons">
                    <button class="add-to-cart">
                        <span class="cart-icon">🛒</span> Añadir a carrito <span class="arrow-icon">→</span>
                    </button>
                    <button class="add-to-favorites">Añadir a favoritos</button>
                </div>
            </div>
  
            <!-- Producto 2 -->
            <div class="grid-item">
                <p>Escondite de corcho · 4.99€</p>
                <img src="/assets/z_hideout1.png" alt="Escondite de corcho">
                <div class="buttons">
                    <button class="add-to-cart">
                        <span class="cart-icon">🛒</span> Añadir a carrito <span class="arrow-icon">→</span>
                    </button>
                    <button class="add-to-favorites">Añadir a favoritos</button>
                </div>
            </div>
  
            <!-- Producto 3 -->
            <div class="grid-item">
                <p>Suplemento alimenticio · 5.99€</p>
                <img src="/assets/lepidoptera_food.png" alt="Suplemento alimenticio">
                <div class="buttons">
                    <button class="add-to-cart">
                        <span class="cart-icon">🛒</span> Añadir a carrito <span class="arrow-icon">→</span>
                    </button>
                    <button class="add-to-favorites">Añadir a favoritos</button>
                </div>
            </div>
          </div>
        </div>
    </section>
</main>

<footer>
    <div class="footer-left">
        <p><strong>Insectarium</strong></p>
        <p>C/ Asunción, 14</p>
        <p>41011 Sevilla</p>
    </div>
    <div class="footer-right">
        <p>653 785 231</p>
        <p>insectarium"&#64;"gmail.com</p>
    </div>
</footer>

</body>