<body>
    <header>
      <nav>
        <ul>
          <li><a href="/home" style="font-size: 25px;">Insectarium</a></li>
          <li><a href="/allshop">Tienda</a></li>
          <li><a href="/allguides">Guías</a></li>
          <li><a href="/contact">Contacto</a></li>          
          <li><a href="/profile">Mi perfil</a></li>
          <li><a href="/shoppingcart" >Carrito</a></li>
          <li><a href="/blog">Blog</a></li> 
        </ul>
      </nav>
    </header>
  
    <main class="content">
      <section id="ultimas-llegadas" class="category-section">
        <h2>Últimas llegadas</h2>
        <div class="grid">
          <a href="/shop/shopcrustacea">
            <div class="category-item">
              <img src="/assets/crustacea_ucapugilator.jpg" alt="Uca pugilator">
              <p>Nuevo crustáceo en tienda: Uca pugilator. ¡Mira qué pinza!</p>
            </div>
          </a>
          
          <a href="shop/shophymenoptera">
            <div class="category-item">
              <img src="/assets/hymenoptera_hormigabala.jpg" alt="hormiga bala">
              <p>¡Colonias de hormiga bala a la venta!</p>
            </div>
          </a>
        </div>
      </section>
  
      <section id="noticias" class="category-section">
        <h2>Noticias sobre invertebrados</h2>
      
        <!-- Noticia 1 -->
    <div class="noticia">
        <h1 (click)="toggleContent(1)">Los pesticidas están diezmando la población de libélulas</h1>
        <div class="noticia-content" [class.open]="noticia1.isOpen">
            <div class="noticia-text" [innerHTML]="noticia1.content"></div>
        </div>
    </div>
    
    <!-- Noticia 2 -->
    <div class="noticia">
        <h1 (click)="toggleContent(2)">Estudiando las especies poco queridas</h1>
        <div class="noticia-content" [class.open]="noticia2.isOpen">
        <div class="noticia-text" [innerHTML]="noticia2.content"></div>
        </div>
    </div>
    
    <!-- Noticia 3 -->
    <div class="noticia">
        <h1 (click)="toggleContent(3)">¿Peligra la vida en la Tierra a causa de la pérdida de insectos?</h1>
        <div class="noticia-content" [class.open]="noticia3.isOpen">
        <div class="noticia-text" [innerHTML]="noticia3.content"></div>
        </div>
    </div>
  
      </section>
      <section id="curiosidades" class="category-section">
        <h2>Curiosidades</h2>
        <ul>
          <li>
            <strong>Insectos en la alimentación:</strong> Los insectos desempeñan un papel crucial en la polinización de muchos alimentos que consumimos a diario, como frutas, verduras y especias.
          </li>
          <li>
            <strong>La longevidad de algunas especies:</strong> Algunos invertebrados como ciertas especies de medusas pueden vivir más de 100 años, mientras que otros, como las libélulas, tienen una vida útil de solo unos meses.
        </li>
          <li>
            <strong>Insectos que pueden sobrevivir sin cabeza:</strong> Algunos insectos, como las cucarachas, pueden sobrevivir durante días o incluso semanas sin su cabeza debido a su sistema nervioso descentralizado.
          </li>
          <li>
            <strong>El aguijón del alacrán:</strong> El veneno de un alacrán no solo se utiliza para cazar, sino que también sirve como defensa. En algunas culturas, su veneno se ha utilizado en medicina tradicional.
          </li>
          <li>
            <strong>Invertebrados bioluminiscentes:</strong> Muchos invertebrados, como algunas especies de medusas y calamares, tienen la capacidad de producir luz en la oscuridad, un fenómeno conocido como bioluminiscencia.
          </li>
        </ul>
              </section>
      
    </main>
  
    <footer>
      <div class="footer-left">
        <p><strong>Insectarium</strong></p>
        <p>C/ Asunción, 14</p>
        <p>41011 Sevilla</p>
      </div>
      <div class="footer-right">
        <p>653 785 231</p>
        <p>insectarium"&#64;"gmail.com</p>
      </div>
    </footer>
  </body>
  