/* Estilos del header */
header {
  background-color: rgba(120, 210, 106, 0.9);
  padding: 15px;
  border-radius: 0 0 15px 15px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; 
}

header h1 {
  margin: 10px;
  color: white;
  font-size: 24px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 10px 10px 10px 10px;
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  height: 100%;
}

nav li {
  display: inline;
  margin-right: 20px;
}

/* Enlaces del header */
nav a {
  text-decoration: none; 
  color: white;
  font-size: 16px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: none;
}

/* ------------------------------------------------------------------------------------------------------------------------ */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url('/assets/home_bg.png') no-repeat center center fixed;
  background-size: cover;
  text-align: center;
}

/* Contenido general */
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px; 
}

/* Sección de categorías */
.category-section {
  width: 100%;
  margin-bottom: 40px;
  background-color: rgba(255, 255, 255, 0.596);
  border: 1px solid #aacb8f;  
  padding: 20px; /* Añadir padding para que no esté pegado a los bordes */
  border-radius: 18px; /* Bordes redondeados */
}


.category-section h2 {
  text-align: left;
  width: 100%;
  font-size: 160%;
  font-weight: bolder;
  color: #1f6c28;

}

.category-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  max-width: 900px;
  margin: 0 auto;
}

.category-item {
  background-color: rgba(120, 210, 106, 0.123);
  color: #1f6c28;
  padding: 15px;
  border-radius: 8px;
  font-weight: bold;
  text-transform:capitalize;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 200px; 
}


.category-item img {
  width: 100%;
  height: 75%;
  object-fit: cover;
  border-radius: 8px;
  flex-grow: 1;
  align-self: stretch;
}

/* Ajuste del texto */
.category-item p {
  margin: 5px 0 0;
}


/* Sección de FAQ */
.faq-section {
  width: 100%;
  text-align: left; /* Alinea el texto a la izquierda */
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.596);
  border: 1px solid #aacb8f;
  border-radius: 18px;
  box-shadow: 0 2px 8px rgba(34, 165, 39, 0.1);
  align-self: flex-start; /* Asegura que se mantenga a la izquierda */
}

.faq-section h2 {
  text-align: left;
  width: 100%;
  font-size: 160%;
  font-weight: bolder;
  color: #1f6c28;
  margin-bottom: 20px;
}


.faq-item {
  margin-bottom: 15px;
  font-size: 100%;
}

.faq-item h3 {
  margin-bottom: 5px;
  color: #333;
  font-size: 100%;
  font-weight: bold;
}


/*------------------------------------------------------------------*/
/* Estilos del footer */
footer {
  background-color: rgba(120, 210, 106, 0.9); /* Color de fondo */
  padding: 15px;
  border-radius: 15px 15px 0 0; /* Bordes redondeados */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  display: flex;
  justify-content: space-between; /* Separar las columnas */
  padding: 10px 30px; /* Ajuste del padding */
  position: relative; /* Relative para mantener la estructura */
  margin-top: 30px; /* Añadir margen superior si es necesario */
  width: 100%; /* Ancho completo */
  z-index: 1;
}

/* Estilos del footer */
footer {
  background-color: rgba(120, 210, 106, 0.9); 
  padding: 15px;
  border-radius: 15px 15px 0 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  display: flex;
  justify-content: space-between; 
  padding: 10px 30px; 
  position: relative;
  margin-top: 30px;
  width: 100%;
  z-index: 1;
}

/* Estilo de los textos dentro del footer */
footer p {
  margin: 0;
  color: white;
  font-size: 14px;
}

/* Estilo para las columnas dentro del footer */
.footer-left, .footer-right {
  display: flex;
  flex-direction: column;
}

.footer-left {
  text-align: left;
  margin-left: 10%;
}

.footer-right {
  text-align: right;
  margin-right: 10%;

}

/* Para centrar las columnas horizontalmente en el footer */



