<body>
  <header>
    <nav>
      <ul>
        <li><a href="/home" style="font-size: 150%;">Insectarium</a></li>
        <li><a href="/allshop">Tienda</a></li>
        <li><a href="/allguides">Guías</a></li>
        <li><a href="/contact">Contacto</a></li>
        <li><a href="/profile">Mi perfil</a></li>
        <li><a href="/shoppingcart">Carrito</a></li>
        <li><a href="/favorites" style="font-size: 20px;">&#x2661;</a></li> <!--favoritos-->
      </ul>
    </nav>
  </header>

  <main class="content">
    <!-- Sección de categorías -->
    <section class="category-section">
      <h2>Compra por categoría</h2>
      <div class="grid">
        <a href="/shop/shoparachnida" class="category-link">
            <div class="category-item">
                <img src="/assets/arachnida.png" alt="Arañas">
                <p>Arañas</p>
            </div>
        </a>
        <a href="/shop/shopblattodea" class="category-link">
            <div class="category-item">
                <img src="/assets/blattodea.png" alt="Cucarachas">
                <p>Cucarachas</p>
            </div>
        </a>
        <a href="/shop/shopchilopoda" class="category-link">
            <div class="category-item">
                <img src="/assets/chilopoda.png" alt="Ciempiés">
                <p>Ciempiés</p>
            </div>
        </a>
        <a href="/shop/shopcoleoptera" class="category-link">
            <div class="category-item">
                <img src="/assets/coleoptera.png" alt="Escarabajos">
                <p>Escarabajos</p>
            </div>
        </a>
        <a href="/shop/shopcrustacea" class="category-link">
            <div class="category-item">
                <img src="/assets/crustacea.png" alt="Crustáceos">
                <p>Crustáceos</p>
            </div>
        </a>
        <a href="/shop/shopdiplopoda" class="category-link">
            <div class="category-item">
                <img src="/assets/diplopoda.png" alt="Milpiés">
                <p>Milpiés</p>
            </div>
        </a>
        <a href="/shop/shopgastropoda" class="category-link">
            <div class="category-item">
                <img src="/assets/gastropoda.png" alt="Gasterópodos">
                <p>Gasterópodos</p>
            </div>
        </a>
        <a href="/shop/shophymenoptera" class="category-link">
            <div class="category-item">
                <img src="/assets/himenoptera.png" alt="Himenópteros">
                <p>Himenópteros</p>
            </div>
        </a>
        <a href="/shop/shopisopoda" class="category-link">
            <div class="category-item">
                <img src="/assets/isopoda.png" alt="Isópodos">
                <p>Isópodos</p>
            </div>
        </a>
        <a href="/shop/shoplepidoptera" class="category-link">
            <div class="category-item">
                <img src="/assets/lepidoptera.png" alt="Lepidópteros">
                <p>Lepidópteros</p>
            </div>
        </a>
        <a href="/shop/shopmantodea" class="category-link">
            <div class="category-item">
                <img src="/assets/mantodea.png" alt="Mantis">
                <p>Mantis</p>
            </div>
        </a>
        <a href="/shop/shopphasmatodea" class="category-link">
            <div class="category-item">
                <img src="/assets/phasmatodea.png" alt="Fásmidos">
                <p>Fásmidos</p>
            </div>
        </a>
    </div>    
    </section>
  </main>

  <footer>
    <div class="footer-left">
        <p><strong>Insectarium</strong></p>
        <p>C/ Asunción, 14</p>
      <p>41011 Sevilla</p>
    </div>
    <div class="footer-right">
      <p>653 785 231</p>
      <p>insectarium"&#64;"gmail.com</p>
    </div>
  </footer>
  
  
</body>