<header>
  <nav>
      <ul>
          <li><a href="/home" style="font-size: 25px;">Insectarium</a></li>
          <li><a href="/allshop">Tienda</a></li>
          <li><a href="/allguides">Guías</a></li>
          <li><a href="/contact">Contacto</a></li>          
          <li><a href="/profile">Mi perfil</a></li>
          <li><a href="/shoppingcart" >Carrito</a></li>
          <li><a href="/favorites" style="font-size: 20px;">&#x2661;</a></li> <!--favoritos-->
      </ul>
  </nav>
</header>

<div>
    <h1>Bienvenido a la página de inicio</h1>
    <!-- meter la cuadricula de categorias y demas -->
  </div>
  