/* Estilos del header */
header {
    background-color: rgba(120, 210, 106, 0.9);
    padding: 15px;
    border-radius: 0 0 15px 15px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Añade margen inferior para separar del contenido */
  }
  
  header h1 {
    margin: 10px;
    color: white;
    font-size: 24px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 10px 10px 10px;
    display: flex;
    justify-content: center;
    gap: 40px; /* Aumenta la separación entre los enlaces */
  }
  
  nav li {
    display: inline;
    margin-right: 20px;
  }
  
  /* Enlaces del header */
  nav a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
  }
  
  nav a:hover {
    text-decoration: none;
  }
  
  /* ------------------------------------------------------------------------------------------------------------------------ */
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('/assets/coleoptera_bg.png') no-repeat center center fixed;
    background-size: cover;
    text-align: center;
  }
  
  /* Contenido general */
  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Sección de Arañas */
  .categorias-section {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.596);
    border: 1px solid #aacb8f;  
    padding: 20px; /* Añadir padding para que no esté pegado a los bordes */
    border-radius: 18px; /* Bordes redondeados */
  }
  
  .categorias-section h2 {
    text-align: left;
    width: 100%;
    font-size: 160%;
    font-weight: bolder;
    color: #1f6c28;
  }
  
/* Sección de Productos */
.productos-section {
    width: 100%;
    margin-bottom: 40px;
    background-color: rgba(255, 255, 255, 0.596);
    border: 1px solid #aacb8f;
    padding: 20px;
    border-radius: 18px; 
  }
  
  /* Título de la sección de productos */
  .productos-section h2 {
    text-align: left;
    width: 100%;
    font-size: 160%;
    font-weight: bolder;
    color: #1f6c28;
    margin-bottom: 20px; /* Añadir espacio debajo del título */
  }
  
  /* Estilo del grid 3x3 de productos */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas */
  gap: 20px;
  margin: 20px 0;
}

.grid-item {
  background-color: rgba(120, 210, 106, 0.123);
  border-radius: 18px;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 300px;
}

.grid-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 18px;
  transition: transform 0.3s ease; /* Transición para qeu se amplie la foto */
}

/* Hover para las imágenes */
.grid-item img:hover {
  transform: scale(1.1); /* amplia la imagen un 10% al pasar el ratón por encima */
}

/* Estilo del texto dentro de los grid-item */
.grid-item p {
  margin: 10px 0;
  font-weight: bold;
  color: #1f6c28;
  font-size: 16px;
}

/* Estilo de los botones dentro de cada grid-item */
.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espacio entre los botones */
  width: 100%; /* Hace que los botones ocupen todo el ancho */
}

/* Botón de añadir al carrito */
.add-to-cart {
  background-color: #44a35c;
  color: white;
  padding: 10px 20px;
  border-radius: 18px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Icono de carrito en el botón */
.add-to-cart .cart-icon {
  margin-right: 8px;
}

.add-to-cart .arrow-icon {
  margin-left: 8px;
}

/* Hover para el botón de añadir al carrito */
.add-to-cart:hover {
  background-color: #95e36b;
  transform: scale(1.05); /* Efecto de agrandamiento en hover */
}

/* Botón de añadir a favoritos */
.add-to-favorites {
  font-size: 13px;
  background-color: transparent;
  color: black;
  border-radius:18px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hover de los botones */
.add-to-favorites:hover {
  background-color: rgba(120, 210, 106, 0.3);
}

/* Ajuste de los iconos dentro del botón */
button .icon {
  margin: 0 5px;
}



/* Sección de Guias destacadas */
.guias-section {
    width: 100%;
    text-align: left;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.596);
    border: 1px solid #aacb8f;
    border-radius: 18px;
    box-shadow: 0 2px 8px rgba(34, 165, 39, 0.1);
    margin-top: 25px;
    margin-bottom: 25px;
  }
  
  .guias-section h2 {
    text-align: left;
    width: 100%;
    font-size: 160%;
    font-weight: bolder;
    color: #1f6c28;
    margin-bottom: 20px;
  }
  
  /* Estilo del boton que contiene cada guia */
  .faq-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: rgba(120, 210, 106, 0.2);
    border: none;
    padding: 15px;
    margin-bottom: 15px;
    width: 100%;
    cursor: pointer;
    text-align: left;
    border-radius: 18px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  /* Hover para los botones */
  .faq-item:hover {
    background-color: rgba(120, 210, 106, 0.4);
    transform: scale(1.05);
  }
  
  .faq-item h3 {
    margin-bottom: 5px;
    color: #333;
    font-size: 100%;
    font-weight: bold;
  }
  
  .faq-item p {
    margin: 0;
    color: #555;
  }
  

  /*------------------------------------------------------------------*/
/* Estilos del footer */
footer {
  background-color: rgba(120, 210, 106, 0.9); 
  padding: 15px;
  border-radius: 15px 15px 0 0; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  display: flex;
  justify-content: space-between; 
  padding: 10px 30px; 
  position: relative; 
  margin-top: 30px; 
  width: 100%; 
  z-index: 1;
}

/* Estilos del footer */
footer {
  background-color: rgba(120, 210, 106, 0.9); 
  padding: 15px;
  border-radius: 15px 15px 0 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  display: flex;
  justify-content: space-between; 
  padding: 10px 30px; 
  position: relative;
  margin-top: 30px;
  width: 100%;
  z-index: 1;
}

/* Estilo de los textos dentro del footer */
footer p {
  margin: 0;
  color: white;
  font-size: 14px;
}

/* Estilo para las columnas dentro del footer */
.footer-left, .footer-right {
  display: flex;
  flex-direction: column;
}

.footer-left {
  text-align: left;
  margin-left: 10%;
}

.footer-right {
  text-align: right;
  margin-right: 10%;

}
